<div class="talk-bubble tri-right round border right-top">
<br>
       <h3 style="text-align: center"> {{question}} 
      </h3><br>
  <div class="container-fluid">
    <hr>
    
{{#each answers}}
  <div class="container-fluid">
    <div class="row">
         <div class="col-sm-3">
                  <div class="avatar"><img src="/images/5.png" alt="..." class="img-fluid rounded-circle" width="50px" height="50px"></div>
                   
          </div>

       <div class="col-sm-7 text-center ">   
       
		   <h6 style="text-align: left">{{this.answerDesc}}</h6>
        </div>
        <div class="col-sm-2">
                        <a href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i></a>&ensp;&ensp;
                        <a href="#"><i class="fa fa-thumbs-down" aria-hidden="true"></i></a>
        </div>

    
		<div class="col-sm-7" >{{this.lawyer_email}}</div>
          
  </div>



                </div>
  {{else}}
  	No Answers Yet!!
{{/each}}
  </div>
