          <header class="page-header">
            <div class="container-fluid">
              <h3 class="no-margin-bottom">Appoinment</h3>
            </div>
          </header>
          <body>



 <div class="row">
            	{{#each result}}
                 <div class="col-md-3 col-sm-3 col-xs-6">
                      <div class="alert alert-info back-widget-set text-center">
                            
                            <img src="/images/case.jpg" alt="..." class="img-thumbnail">
                            <h5>Case : {{this.case_name}} </h5>
                            <a href="#">
                            <button type="button" data-toggle="modal" data-target="#myModal" class="btn btn-primary">Request Appointment</button>
                            </a>
                        </div>
                    </div>
              
                  {{else}}
    			     <strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;No Pending Cases</strong>        
                  {{/each}}
                        </div>










<!-- Modal Start-->
<div id="myModal" class="modal fade" role="dialog">
   <div class="modal-dialog">

    <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header ">
              <div class="container-fluid">
              
            </div>
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
      <div class="modal-body">
        
      <div class="container-fluid">
          
                <div class="row">
                      
                   <h4 > REQUEST SENT</h4>
                </div>         
          </div>
         
       </div>
      

            <div class="modal-footer">
           
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
      </div>

    </div>
</div>
<!-- Modal End-->
         




<div id="myModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
                        <div role="document" class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h7 id="exampleModalLabel" class="modal-title" style="color:blue"> REQUESTED SUCCESSFULLY</h7>
                              <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
                            </div>
                            
                          </div>
                        </div>
                      </div>     
