<div class="content-inner">
          <!-- Page Header-->
          <header class="page-header">
            <div class="container-fluid">
              <h3 class="no-margin-bottom">Corporate Case Details</h3>
            </div>
            <br>
          </header>
          



  <!-- MENU SECTION END-->
    <div class="content-wrapper">
         <div class="container">
        <div class="row pad-botm">
            <div class="col-md-12">
               
                
                            </div>

        </div>
             <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
               <div class="panel panel-info">
                        <div class="panel-heading">
                           <strong>BASIC FORM</strong>
                        </div>
                        <br>

                        <div class="panel-body">
                            <form role="form">
                                        <div class="form-group">
                                            <label><h5><h5>Enter Company Name</h5></h5></label>
                                            <input name="casename" class="form-control" type="text" />
                                            
                                        </div>
                                        
                                 <div class="form-group">
                                            <label><h5><h5>Type of Case</h5></label><br>
                                            <label>
                                            &nbsp; &nbsp;
                                            <input type="radio" name="type"> Settlement &nbsp; &nbsp; &nbsp; &nbsp;</label>
                                            <label>

                                            <input type="radio" name="type"> Agreement-Violation &nbsp; &nbsp; &nbsp; &nbsp;</label>
                                            <label>

                                            <input type="radio" name="type"> Perjury &nbsp; &nbsp; &nbsp; &nbsp;</label>
                                            <label>

                                            <input type="radio" name="type"> Fraud &nbsp; &nbsp; &nbsp; &nbsp;</label><br><br>

                                            <div class="form-group"> 
                                                    <div class="form-group">
                                                        <label><h5>Year of Conflict</h5></label>
                                                        <input name="year_of_conflict" type="date" class="form-control" id="exampleInputDOB1" placeholder="Date">
                                                    </div>
                                            </div>

                                                
                                 </div>
                                            
                                <div class="form-group">
                                            <label><h5>Detail Reason for Case</h5></label>
                                            <textarea name="reason" class="form-control" rows="3"></textarea>
                                </div>
                                  <hr/>
                          
                                   <div class="form-group">
                                            <label><h5>Assets for reimbursement</h5></label>
                                            <div class="checkbox">
                                                <label>
                                                    <input name="assets" type="checkbox" value="" />Property
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input name="assets" type="checkbox" value="" />Shares
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input name="assets" type="checkbox" value="" />Equity
                                                </label>
                                            </div>
                                             <div class="checkbox">
                                                <label>
                                                    <input name="assets" type="checkbox" value="" />Loan
                                                </label>
                                            </div>
                                        
                                        <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" value="" />Others
                                                </label>
                                            </div>  <br>
                                        <div class="form-group">
                                            <label><h5>Bilateral Conflict</h5></label><br>
                                            <label>
                                            &nbsp; &nbsp;
                                            <input type="radio" name="Yes-No">Yes &nbsp; &nbsp; &nbsp; &nbsp;</label>
                                            <label>

                                            <input type="radio" name="Yes-No"> No </label><br>
                                            </div>

                                        
                                            </div>
                                            <div class="panel-body">
                                <div class="form-group">
                                            <label><h5>Location</h5></label>
                                            <select class="form-control">
                                                <option>Delhi</option>
                                                <option>Mumbai</option>
                                                <option>Pune</option>
                                                <option>Chennai</option>
                                                <option>Ahmedabad</option>
                                                <option>Jaipur</option>
                                                <option>Kolkata</option>
                                                
                                            </select>
                                </div>
                            
                            
                                <div class="form-group">
                                    <br>
                                            <label><h5>Budget Details</h5></label>
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">Less than 10L
                                                </label>
                                            </div>
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">10L-30L
                                                </label>
                                            </div>
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3">30L-60L
                                                </label>
                                            </div>
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3">More than 60L
                                                </label>
                                            </div>
                                </div>
                                <div class="form-group">
                                            <label><h5>Comments</h5></label> 
                                            <textarea class="form-control" rows="3"></textarea>
                                </div>

                            </div>
                                 
                                        <button type="submit" class="btn btn-info">Submit </button>

                                    </form>
                                    <br>
                                    <br>
                            </div>
                        </div>
                            </div>

             <!--/.ROW-->
             </div>
             </div>