       <div class="content-inner">
          <!-- Page Header-->
          <header class="page-header">
            <div class="container-fluid">
              <h2 class="no-margin-bottom">Case Details</h2>
            </div>
          </header>
          
               
          <div class="row">
            
                 <div class="col-md-3 col-sm-3 col-xs-6">
                      <div class="alert alert-info back-widget-set text-center">
                            <a href="/users/divorcecase">
                            <img src="/images/divorce.jpg" alt="..." class="img-thumbnail">
                            <h3>DIVORCE </h3>
                            </a>
                        </div>
                    </div>
              <div class="col-md-3 col-sm-3 col-xs-6">
                      <div class="alert alert-success back-widget-set text-center">
                        <a href="/users/criminalcase">
                            <img src="/images/criminal.jpg" alt="..." class="img-thumbnail">
                            <h3>CRIMINAL</h3>
                            </a>
                            
                        </div>
                    </div>
               <div class="col-md-3 col-sm-3 col-xs-6">
                      <div class="alert alert-warning back-widget-set text-center">
                      <a href="/users/corporatecase">
                            <img src="/images/corporate.jpg" alt="..." class="img-thumbnail">
                            <h3>CORPORATE </h3>
                            </a>
                           
                        </div>
                    </div>
               <div class="col-md-3 col-sm-3 col-xs-6">
                          
                      <div class="alert alert-danger back-widget-set text-center">
                      <a href="#">
                           <img src="/images/DUI.jpg" alt="..." class="img-thumbnail">
                            <h3>DUI </h3>
                            </a>
                            
                        </div>
                    </div>
                 <div class="col-md-3 col-sm-3 col-xs-6">
                          
                      <div class="alert alert-danger back-widget-set text-center">
                      <a href="#">
                           <img src="/images/fraud.jpg" alt="..." class="img-thumbnail">
                            <h3>FRAUD</h3>
                            </a>
                            
                        </div>
                    </div>
                   <div class="col-md-3 col-sm-3 col-xs-6">
                          
                      <div class="alert alert-danger back-widget-set text-center">
                      <a href="#">
                           <img src="/images/prenuptial.jpg" alt="..." class="img-thumbnail">
                            <h3>PRENUPTIAL
                            </h3>
                            </a>
                        </div>
                    </div>
                     <div class="col-md-3 col-sm-3 col-xs-6">
                          
                      <div class="alert alert-danger back-widget-set text-center">
                      <a href="#">
                           <img src="/images/estate.jpg" alt="..." class="img-thumbnail">
                            <h3>REAL ESTATE </h3>
                            </a>
                            
                        </div>
                    </div>
                     <div class="col-md-3 col-sm-3 col-xs-6">
                          
                      <div class="alert alert-danger back-widget-set text-center">
                      <a href="#">
                           <img src="/images/other.jpg" alt="..." class="img-thumbnail">
                            <h3>OTHERS </h3>
                            </a>
                            
                        </div>
                    </div>       
              <!-- Project-->
        </div>