<div class="content-inner">
          <!-- Page Header-->
          <header class="page-header">
            <div class="container-fluid">
              <h2 class="no-margin-bottom">Pending New Cases</h2>
            </div>
          </header>
          
               
          <div class="row">
            
                 <div class="col-md-3 col-sm-3 col-xs-6">
                      <div class="alert alert-info back-widget-set text-center">
                            
                            <img src="/images/case.jpg" alt="..." class="img-thumbnail">
                            <h5>Case : FD635 </h5>
                            <a href="#">
                            <button type="button" class="btn btn-info">Case Details</button>
                            </a>
                        </div>
                    </div>
              <div class="col-md-3 col-sm-3 col-xs-6">
                      <div class="alert alert-success back-widget-set text-center">
                        
                            <img src="/images/case.jpg" alt="..." class="img-thumbnail">
                            <h5>Case : DX271</h5>
                            <a href="#">
                            <button type="button" class="btn btn-info">Case Details</button>
                            </a>
                            
                        </div>
                    </div>
               <div class="col-md-3 col-sm-3 col-xs-6">
                      <div class="alert alert-warning back-widget-set text-center">
                     <img src="/images/case.jpg" alt="..." class="img-thumbnail">
                            <h5>Case : DM316</h5>
                            <a href="#">
                            <button type="button" class="btn btn-info">Case Details</button>
                            </a>
                           
                        </div>
                    </div>
              
                            
                        </div>