<div class="content-inner">
          <!-- Page Header-->
          <header class="page-header">
            <div class="container-fluid">
              <h2 class="no-margin-bottom">Divorce Case Details</h2>
            </div>
          </header>
		 <div class="content-wrapper">
         <div class="container">
        <div class="row pad-botm">
            <div class="col-md-12">
               
                
                            </div>

        </div>
             <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
               <div class="panel panel-info">
                        

                        <div class="panel-body">
                            <form role="form" action="/cases/submit" id = "searchform" method="post">
                                        <div class="form-group">
                                            <label><h5><h5>Enter Case Name</h5></h5></label>
                                            <input class="form-control" name="casename" style = "width:100%" type="text" />
                                        </div>
                                        <div class="form-group">
                                            <label><h5><h5>Enter Spouse Name</h5></h5></label>
                                            <input class="form-control" name="spousename" style = "width:100%"  type="text" />
                                        </div>

                                 <div class="form-group">
                                            <label><h5><h5>Select Gender of Spouse</h5></label><br>
                                            <label>
                                            &nbsp; &nbsp;
                                            <input type="radio" name="gender" value="Male"> Male &nbsp; &nbsp; &nbsp; &nbsp;</label>
                                            <label>

                                            <input type="radio" name="gender" value="Female"> Female </label><br><br>

                                               <div class="form-group"> 
                                                    <div class="form-group">
                                                        <label><h5>Date of Marriage</h5></label>
                                                        <input type="date" class="form-control" id="exampleInputDOB1" placeholder="Date" name="casedate">
                                                    </div>
                                            </div>              
                                 </div>
                                            
                                <div class="form-group">
                                            <label><h5>Reason for Divorce</h5></label>
                                            <textarea class="form-control"style = "width:100%"  rows="3"  name="casereason"></textarea>
                                </div>
                                  <hr/>
                          
                                   <div class="form-group">
                                            <label><h5>Assets of Spouse before marriage</h5></label>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="assets" value="Residential Property" />Residential Property
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="assets" value="Investment Property" />Investment Property
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="assets" value="Business/Gold Property"/>Business/Gold
                                                </label>
                                            </div>
                                             <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="assets" value="Bank Property"/>Bank Accounts
                                                </label>
                                            </div>
                                        
                                        <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="assets" value="Others"/>Others
                                                </label>
                                            </div>  <br>
                                        <div class="form-group">
                                            <label><h5>Mutual Decision</h5></label><br>
                                            <label>
                                            &nbsp; &nbsp;
                                            <input type="radio" name="decision" value="Yes">Yes &nbsp; &nbsp; &nbsp; &nbsp;</label>
                                            <label>

                                            <input type="radio" name="decision" value="Yes"> No </label><br>
                                            </div>

                                        <div class="form-group">
                                            <label><h5>Does Spouse require child support</h5></label><br>
                                            <label>
                                            &nbsp; &nbsp;
                                            <input type="radio" name="childsupport" value="Yes">Yes &nbsp; &nbsp; &nbsp; &nbsp;</label>
                                            <label>

                                            <input type="radio" name="childsupport" value="No"> No </label><br><br>
                                            </div>
                                            </div>
                                            <div class="panel-body">
                                <div class="form-group">
                                            <label><h5>Location</h5></label>
                                            <select class="form-control" name="location" style = "width:100%" >
                                                <option>Delhi</option>
                                                <option>Mumbai</option>
                                                <option>Pune</option>
                                                <option>Chennai</option>
                                                <option>Ahmedabad</option>
                                                <option>Jaipur</option>
                                                <option>Kolkata</option>
                                            </select>
                                </div>
                            
                            
                                <div class="form-group">
                                    <br>
                                            <label><h5>Budget Details</h5></label>
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" name="budget" id="optionsRadios1" value="<30k" checked="">Less than 30k
                                                </label>
                                            </div>
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" name="budget" id="optionsRadios2" value="30k-60k">30k-60k
                                                </label>
                                            </div>
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" name="budget" id="optionsRadios3" value="60k-1L">60k-1L
                                                </label>
                                            </div>
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" name="budget" id="optionsRadios3" value=">1L">More than 1L
                                                </label>
                                            </div>
                                </div>
                                <div class="form-group">
                                            <label><h5>Comments</h5></label> 
                                            <textarea class="form-control" rows="3" name="comments" style = "width:100%" ></textarea>
                                </div>

                            </div>
                                 
                                        <button type="submit" class="btn btn-info">Submit </button>

                                    </form>
                                    <br>
                                    <br>
                            </div>
                        </div>
                            </div>

             <!--/.ROW-->
             </div>
               
             		     
</div>
