<div class="content-inner">
          <!-- Page Header-->
          <header class="page-header">
            <div class="container-fluid">
              <h3 class="no-margin-bottom">Drunk Under Influence Case Details</h3>
            </div>
            <br>
          </header>
          



  <!-- MENU SECTION END-->
    <div class="content-wrapper">
         <div class="container">
        <div class="row pad-botm">
            <div class="col-md-12">
               
                
                            </div>

        </div>
             <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
               <div class="panel panel-info">
                        <div class="panel-heading">
                           <strong>BASIC FORM</strong>
                        </div>
                        <br>

                        <div class="panel-body">
                            <form role="form" action="/cases/dui_submit" id = "searchform" method="post">
                                        <div class="form-group">
                                            <label><h5><h5>Enter Case Name</h5></h5></label>
                                            <input name="casename" class="form-control" type="text" />
                                        </div>

                                        <div class="form-group">
                                            <label><h5>Driver's Name</h5></label>
                                            <input class="form-control" name="name"type="text" />
                                            
                                        </div>
                                        <div class="form-group">
                                            <label><h5>Gender</h5></label><br>
                                            <label>
                                            &nbsp; &nbsp;
                                            <input type="radio" name="gender" value="Male">Male &nbsp; &nbsp; &nbsp; &nbsp;</label>
                                            <label>

                                            <input type="radio" name="gender" value="Female">Female </label><br>
                                            </div>
                                            
                                                    <div class="form-group">
                                                        <label><h5>Date of Incident</h5></label>
                                                        <input type="date" class="form-control" id="exampleInputDOB1" name="date">
                                                    </div>
                                            
                                            <div class="form-group">

<br>                                                <label><h5>Specify Time </h5></label>
                                                <input type="time" name="time">
                                              </div>

                                            <div class="form-group">
                                            <label><h5><h5>Exact Address</h5></h5></label>
                                            <input class="form-control" name="address"type="text" />
                                            
                                        </div>
                                        <div class="form-group">
                                            <label><h5><h5>Vehicle Plate Number</h5></h5></label>
                                            <input class="form-control" name="plate_no" type="text" />
                                            
                                        </div>
                                        <div class="form-group">
                                            <label><h5><h5>Reporting Officer Name</h5></h5></label>
                                            <input class="form-control" type="text" name="reporting_officer"/>
                                            
                                        </div>
                                        
                                 <div class="form-group">
                                            <label><h5><h5>Specify Damage</h5></label><br>
                                            <label>
                                            &nbsp; &nbsp;
                                            <input type="radio" name="damage" value="Hit and Run">Hit and Run  &nbsp; &nbsp; &nbsp; &nbsp;</label>
                                            <label>

                                            <input type="radio" name="damage" value="Property Loss" > Property Loss &nbsp; &nbsp; &nbsp; &nbsp;</label>
                                            <label>

                                            <input type="radio" name="damage" value="Death or Manslaughter"> Death or Manslaughter&nbsp; &nbsp; &nbsp; &nbsp;</label>
                                 </div>
                                            
                                <div class="form-group">
                                            <label><h5>Vehicle Description</h5></label>
                                            <textarea class="form-control" name="v_description"rows="3"></textarea>
                                </div>
                                  <hr/>
                          
                                   
                                        <div class="form-group">
                                            <label><h5>Any Witness</h5></label><br>
                                            <label>
                                            &nbsp; &nbsp;
                                            <input type="radio" name="witness" value="Yes">Yes &nbsp; &nbsp; &nbsp; &nbsp;</label>
                                            <label>

                                            <input type="radio" name="witness" value="No"> No </label><br>
                                            </div>

                                        
                                            </div>
                                             <div class="panel-body">
                                <div class="form-group">
                                            <label><h5>Location</h5></label>
                                            <select class="form-control" name="location">
                                                <option>Delhi</option>
                                                <option>Mumbai</option>
                                                <option>Pune</option>
                                                <option>Chennai</option>
                                                <option>Ahmedabad</option>
                                                <option>Jaipur</option>
                                                <option>Kolkata</option>
                                                
                                            </select>
                                </div>
                            
                            
<div class="form-group">
                                    <br>
                                            <label><h5>Budget Details</h5></label>
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" name="budget" id="optionsRadios1" value="<30k" checked="">Less than 30k
                                                </label>
                                            </div>
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" name="budget" id="optionsRadios2" value="30k-60k">30k-60k
                                                </label>
                                            </div>
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" name="budget" id="optionsRadios3" value="60k-1L">60k-1L
                                                </label>
                                            </div>
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" name="budget" id="optionsRadios3" value=">1L">More than 1L
                                                </label>
                                            </div>
                                </div>
                                <div class="form-group">
                                            <label><h5>Comments</h5></label> 
                                            <textarea class="form-control" rows="3" name="comments"></textarea>
                                </div>

                            </div>
                                 
                                        <button type="submit" class="btn btn-info">Submit </button>

                                    </form>
                                    <br>
                                    <br>
                            </div>
                        </div>
                            </div>

             <!--/.ROW-->
             </div>
               
                         
</div>
