<!-- bootstrap-pop-up -->
	<div class="modal video-modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>						
				</div>
				<div class="signin-form profile">
						<h3 class="agileinfo_sign">Tennis Court</h3>	
					<div class="modal-body">
						<img src="images/g1.jpg" alt=" " class="img-responsive" />
						<p>Ut enim ad minima veniam, quis nostrum 
							exercitationem ullam corporis suscipit laboriosam, 
							nisi ut aliquid ex ea commodi consequatur? Quis autem 
							vel eum iure reprehenderit qui in ea voluptate velit 
							esse quam nihil molestiae consequatur, vel illum qui 
							dolorem eum fugiat quo voluptas nulla pariatur.
							<i>" Quis autem vel eum iure reprehenderit qui in ea voluptate velit 
								esse quam nihil molestiae consequatur.</i></p>
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- //bootstrap-pop-up -->
<!-- gallery -->
	<div class="gallery">
	     	      <h3 class="w3l_header w3_agileits_header">Latest <span>Gallery</span></h3>
		  <p class="sub_para_agile">Ipsum dolor sit amet consectetur adipisicing elit</p>
		  	<div class="agile_team_grids_top">
		<ul id="flexiselDemo1">	
			<li>
				<div class="wthree_gallery_grid">
					<a href="images/g1.jpg" class="lsb-preview" data-lsb-group="header">
						<div class="view second-effect">
							<img src="images/g1.jpg" alt="" class="img-responsive" />
							<div class="mask">
								<p>Tennis Court</p>
							</div>
						</div>	
					</a>
				</div>
			</li>
			<li>
				<div class="wthree_gallery_grid">
					<a href="images/g2.jpg" class="lsb-preview" data-lsb-group="header">
						<div class="view second-effect">
							<img src="images/g2.jpg" alt="" class="img-responsive" />
							<div class="mask">
								<p>Tennis Court</p>
							</div>
						</div>	
					</a>
				</div>
			</li>
			<li>
				<div class="wthree_gallery_grid">
					<a href="images/g3.jpg" class="lsb-preview" data-lsb-group="header">
						<div class="view second-effect">
							<img src="images/g3.jpg" alt="" class="img-responsive" />
							<div class="mask">
								<p>Tennis Court</p>
							</div>
						</div>	
					</a>
				</div>
			</li>
			<li>
				<div class="wthree_gallery_grid">
					<a href="images/g4.jpg" class="lsb-preview" data-lsb-group="header">
						<div class="view second-effect">
							<img src="images/g4.jpg" alt="" class="img-responsive" />
							<div class="mask">
								<p>Tennis Court</p>
							</div>
						</div>	
					</a>
				</div>
			</li>
			<li>
				<div class="wthree_gallery_grid">
					<a href="images/g5.jpg" class="lsb-preview" data-lsb-group="header">
						<div class="view second-effect">
							<img src="images/g5.jpg" alt="" class="img-responsive" />
							<div class="mask">
								<p>Tennis Court</p>
							</div>
						</div>	
					</a>
				</div>
			</li>
		</ul>
	</div>
</div>
<!-- //gallery -->

