       <div class="content-inner">
          <!-- Page Header-->
          <header class="page-header">
            <div class="container-fluid">
              <h2 class="no-margin-bottom">Search Case</h2>
            </div>
          </header>

<div class="w3_agile_search">
				<div class="container-fluid">
  				
				<form action="/cases/searchcase" method="post" id = "searchform">
					<input type="text" name="cname" placeholder="Search Case..." required="" />
					<input type="submit" value="Submit">
				</form>
				</div>
			</div>
