{{#each result}}
    <div class="col-lg-3 col-md-6 col-sm-6 work g-padding-y-10--xs"> <a href="/images/l2.jpg" class="work-box"> <img src="/images/l2.jpg" alt="">
        <div class="overlay">
          <div class="overlay-caption">
            <h4>{{this.name}}</h4>
            <p><h5>{{this.email}}</h5></p>
          </div>
        </div>
        <!-- overlay --> 
        </a> </div>
{{else}}
<strong>Sorry !</strong> No such lawyer exists.
{{/each}}
